<%# pay close attention at the url used, because users_path (with %>
<%# the S) refers to a POST /users request. While user_path refers%>
<%# to a PATCH /users/:id request (the one that you need to update %>
<%# users). To see the routes yourself type in the console %>
<%# $rails routes %>
<br><br>
<%= form_for(@user, url: user_path) do |f| %>
  <%= f.label "username" %><br>
  <%= f.text_field :username %><br><br>
  <%= f.label "email" %><br>
  <%= f.email_field :email %><br><br>
  <%= f.label "password" %><br>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Update" %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>